.page-header {
  border-width: 0;
}
img.image {
  width: 100%;
  height: auto;
  display: block;
}
aside.sidebar {
  margin-top: 50px;
}
article.post .wp-post-image {
  width: 100%;
  display: block;
  height: auto;
}
main {
  margin-top: 30px;
  margin-bottom: 30px;
}
header nav.navbar {
  border-radius: 0;
}
header nav.navbar li.current_page_item a,
header nav.navbar li.current-page-ancestor a {
  background-color: #AE3910;
}
.widget-richtext {
  margin-bottom: 30px;
}
.widget-richtext img.alignnone,
.widget-richtext img.aligncenter,
.widget-richtext img.alignright,
.widget-richtext img.alignleft {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .widget-richtext img.alignright,
  .widget-richtext img.alignleft {
    width: 50%;
  }
  .widget-richtext img.alignright {
    float: right;
  }
  .widget-richtext img.alignleft {
    float: left;
  }
}
@media (min-width: 992px) {
  .widget-richtext img.alignright,
  .widget-richtext img.alignleft {
    width: 33%;
  }
}
.widget-richtext .gallery {
  margin: 0 -15px 15px -15px;
}
.widget-richtext .gallery figure.gallery-item {
  float: left;
  padding: 0 15px 30px 15px;
}
.widget-richtext .gallery.gallery-columns-1 figure.gallery-item {
  width: 100%;
}
.widget-richtext .gallery.gallery-columns-2 figure.gallery-item {
  width: 50%;
}
.widget-richtext .gallery.gallery-columns-3 figure.gallery-item {
  width: 33.33%;
}
.widget-richtext .gallery.gallery-columns-4 figure.gallery-item {
  width: 25%;
}
.widget-richtext .gallery.gallery-columns-5 figure.gallery-item {
  width: 20%;
}
.widget-richtext .gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.widget-jumbobox {
  margin-bottom: 30px;
}
.widget-blogexcerpt {
  margin-bottom: 30px;
}
.widget-blogpost article,
.widget-blogpost-small article {
  margin-bottom: 40px;
}
.widget-blogpost article header,
.widget-blogpost-small article header {
  margin-bottom: 10px;
}
.widget-blogpost article header time.updated,
.widget-blogpost-small article header time.updated {
  color: #888;
}
.widget-blogpost article h3,
.widget-blogpost-small article h3 {
  margin: 0;
}
.widget-blogpost article .widget-blogexcerpt-thumbnail img,
.widget-blogpost-small article .widget-blogexcerpt-thumbnail img {
  width: 100%;
  display: block;
  height: auto;
}
.widget-button {
  margin-bottom: 50px;
}
.widget-form input.form-control,
.widget-form textarea.form-control {
  width: 100%;
}
