// Enter LESS code here. main.css will be generated automatically.


.page-header {
	border-width: 0;
}

img.image {
	width: 100%;
	height: auto;
	display: block;
}

aside.sidebar {
	margin-top: 50px;
}

article.post {
	.wp-post-image {
		width: 100%;
		display: block;
		height: auto;
	}
}

main {
	margin-top: 30px;
	margin-bottom: 30px;
}

header {
	nav.navbar {
		border-radius: 0;

		li.current_page_item, li.current-page-ancestor {
			a {
				background-color: #AE3910;
			}
		}
	}
}

.widget-richtext {
	margin-bottom: 30px;


	img.alignnone, img.aligncenter, img.alignright, img.alignleft {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 15px;
	}
	@media(min-width:768px) {
		img.alignright, img.alignleft {
			width: 50%;
		}
		img.alignright {
			float: right;
		}

		img.alignleft {
			float: left;
		}
	}
	@media(min-width:992px) {
		img.alignright, img.alignleft {
			width: 33%;
		}
	}

	.gallery {
		margin: 0 -15px 15px -15px;

		figure.gallery-item {
			float: left;
			padding: 0 15px 30px 15px;
		}


		&.gallery-columns-1 figure.gallery-item {
			width: 100%;
		}
		&.gallery-columns-2 figure.gallery-item {
			width: 50%;
		}
		&.gallery-columns-3 figure.gallery-item {
			width: 33.33%;
		}
		&.gallery-columns-4 figure.gallery-item {
			width: 25%;
		}
		&.gallery-columns-5 figure.gallery-item {
			width: 20%;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

.widget-jumbobox {
	margin-bottom: 30px;
}

.widget-blogexcerpt {
	margin-bottom: 30px;
}

.widget-blogpost, .widget-blogpost-small {
	article {
		margin-bottom: 40px;


		header {
			margin-bottom: 10px;

			time.updated {
				color: #888;
			}
		}

		h3 {
			margin: 0;
		}

		.widget-blogexcerpt-thumbnail img {
			width: 100%;
			display: block;
			height: auto;
		}
	}
}

.widget-button {
	margin-bottom: 50px;
}

.widget-form {
	input.form-control, textarea.form-control {
		width: 100%;
	}
}


@media print {

}
