.page-header {
  border-width: 0;
}
img.image {
  width: 100%;
  height: auto;
  display: block;
}
aside.sidebar {
  margin-top: 50px;
}
article.post .wp-post-image {
  width: 100%;
  display: block;
  height: auto;
}
main {
  margin-top: 30px;
  margin-bottom: 30px;
}
header nav.navbar {
  border-radius: 0;
}
header nav.navbar li.current_page_item a,
header nav.navbar li.current-page-ancestor a {
  background-color: #AE3910;
}
.widget-richtext {
  margin-bottom: 30px;
}
.widget-jumbobox {
  margin-bottom: 30px;
}
.widget-blogexcerpt {
  margin-bottom: 30px;
}
.widget-blogpost article,
.widget-blogpost-small article {
  margin-bottom: 40px;
}
.widget-blogpost article header,
.widget-blogpost-small article header {
  margin-bottom: 10px;
}
.widget-blogpost article header time.updated,
.widget-blogpost-small article header time.updated {
  color: #888;
}
.widget-blogpost article h3,
.widget-blogpost-small article h3 {
  margin: 0;
}
.widget-blogpost article .widget-blogexcerpt-thumbnail img,
.widget-blogpost-small article .widget-blogexcerpt-thumbnail img {
  width: 100%;
  display: block;
  height: auto;
}
.widget-button {
  margin-bottom: 50px;
}
.widget-form input.form-control,
.widget-form textarea.form-control {
  width: 100%;
}
